@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap");

:root {
  --primary_red: #f38181;
  --primary_yellow: #fce38a;
  --primary_light: #eaffd0;
  --primary_green: #95e1d3;
  --max_width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background: var(--primary_yellow);
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cursive;
  margin-bottom: 0.55rem;
}

/* Container Class */

.container {
  max-width: var(--max_width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}
